body {
  background-repeat: no-repeat;
  background-image: linear-gradient(to top, orange, yellow);
  height: 182vh;
}
header {
  font-family: fantasy;
  text-align: center
}
footer {
  font-style: italic;
  text-align: center
}
ol {
  margin:auto;
  width: 600px
}
h1 {
  margin:auto;
  width: 500px
}
nav {
position: relative;
width: 255px
}
main {
  text-align: center;
  line-height: 2rem
}
nav {
  font-size: 12px;
}
img {
  width: 110%
}
